<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
	id="WebApp_ID" version="2.5">
	<display-name>SisMed_v7</display-name>
	<welcome-file-list>
		<welcome-file>index.html</welcome-file>
		<welcome-file>index.htm</welcome-file>
		<welcome-file>index.jsp</welcome-file>
		<welcome-file>default.html</welcome-file>
		<welcome-file>default.htm</welcome-file>
		<welcome-file>default.jsp</welcome-file>
	</welcome-file-list>



	<!-- CONSULTA -->

	<servlet>
		<description></description>
		<display-name>ConsultaAddServlet</display-name>
		<servlet-name>ConsultaAddServlet</servlet-name>
		<servlet-class>aap.controller.ConsultaAddServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>ConsultaAddServlet</servlet-name>
		<url-pattern>/consulta/addConsulta.do</url-pattern>
	</servlet-mapping>

	<servlet>
		<description></description>
		<display-name>RemoveConsultaServlet</display-name>
		<servlet-name>RemoveConsultaServlet</servlet-name>
		<servlet-class>aap.controller.ConsultaRemoverServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>RemoveConsultaServlet</servlet-name>
		<url-pattern>/consulta/removerConsulta.do</url-pattern>
	</servlet-mapping>

	<servlet>
		<description></description>
		<display-name>ConsultaEnviarPaciente</display-name>
		<servlet-name>ConsultaEnviarPaciente</servlet-name>
		<servlet-class>aap.controller.ConsultaEnviarPacienteServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>ConsultaEnviarPaciente</servlet-name>
		<url-pattern>/consulta/consultaEnviarPaciente.do</url-pattern>
	</servlet-mapping>

	<servlet>
		<description></description>
		<display-name>EditConsultaServlet</display-name>
		<servlet-name>EditConsultaServlet</servlet-name>
		<servlet-class>aap.controller.ConsultaEditServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>EditConsultaServlet</servlet-name>
		<url-pattern>/consulta/editarConsulta.do</url-pattern>
	</servlet-mapping>

	<servlet>
		<description></description>
		<display-name>EditSaveConsultaServlet</display-name>
		<servlet-name>EditSaveConsultaServlet</servlet-name>
		<servlet-class>aap.controller.ConsultaEditSaveServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>EditSaveConsultaServlet</servlet-name>
		<url-pattern>/consulta/salvarConsulta.do</url-pattern>
	</servlet-mapping>

	<!-- FIM CONSULTA -->



	<servlet>
		<description></description>
		<display-name>Login</display-name>
		<servlet-name>Login</servlet-name>
		<servlet-class>aap.controller.Login</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>Login</servlet-name>
		<url-pattern>/login.do</url-pattern>
	</servlet-mapping>
	<servlet>
		<description></description>
		<display-name>Logoff</display-name>
		<servlet-name>Logoff</servlet-name>
		<servlet-class>aap.controller.Logoff</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>Logoff</servlet-name>
		<url-pattern>/logoff.do</url-pattern>
	</servlet-mapping>
	<servlet>
		<description></description>
		<display-name>PacienteAddServlet</display-name>
		<servlet-name>PacienteAddServlet</servlet-name>
		<servlet-class>aap.controller.PacienteAddServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>PacienteAddServlet</servlet-name>
		<url-pattern>/paciente/addPaciente.do</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>PacienteEditGet</servlet-name>
		<servlet-class>aap.controller.PacienteEditServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>PacienteEditGet</servlet-name>
		<url-pattern>/paciente/editarPaciente.do</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>PacienteEditSave</servlet-name>
		<servlet-class>aap.controller.PacienteEditSaveServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>PacienteEditSave</servlet-name>
		<url-pattern>/paciente/atualizarPaciente.do</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>PacienteRemove</servlet-name>
		<servlet-class>aap.controller.PacienteRemove</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>PacienteRemove</servlet-name>
		<url-pattern>/paciente/removerPaciente.do</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>CadastrarSecretariaServlet</servlet-name>
		<servlet-class>aap.controller.CadastrarSecretariaServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>CadastrarSecretariaServlet</servlet-name>
		<url-pattern>/secretaria/CadastrarSecretaria.do</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>EditarSecretariaServlet</servlet-name>
		<servlet-class>aap.controller.EditarSecretariaServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>EditarSecretariaServlet</servlet-name>
		<url-pattern>/secretaria/EditarSecretaria.do</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>RemoverSecretariaServlet</servlet-name>
		<servlet-class>aap.controller.RemoverSecretariaServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>RemoverSecretariaServlet</servlet-name>
		<url-pattern>/secretaria/RemoverSecretaria.do</url-pattern>
	</servlet-mapping>
	<servlet>
		<description></description>
		<display-name>EnviarSecretariaPost</display-name>
		<servlet-name>EnviarSecretariaPost</servlet-name>
		<servlet-class>aap.controller.EnviarSecretariaPost</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>EnviarSecretariaPost</servlet-name>
		<url-pattern>/secretaria/EnviarSecretariaPost.do</url-pattern>
	</servlet-mapping>
	<servlet>
		<description></description>
		<display-name>ProntuarioPacienteServlet</display-name>
		<servlet-name>ProntuarioPacienteServlet</servlet-name>
		<servlet-class>aap.controller.ProntuarioPacienteServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>ProntuarioPacienteServlet</servlet-name>
		<url-pattern>/prontuario/ProntuarioPacienteServlet.do</url-pattern>
	</servlet-mapping>
	<servlet>
		<description></description>
		<display-name>MostrarImagem</display-name>
		<servlet-name>MostrarImagem</servlet-name>
		<servlet-class>aap.controller.MostrarImagem</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>MostrarImagem</servlet-name>
		<url-pattern>/MostrarImagem.do</url-pattern>
	</servlet-mapping>
	<servlet>
		<description></description>
		<display-name>MedicoAddServlet</display-name>
		<servlet-name>MedicoAddServlet</servlet-name>
		<servlet-class>aap.controller.MedicoAddServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>MedicoAddServlet</servlet-name>
		<url-pattern>/medico/addMedico.do</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>MedicoEditGet</servlet-name>
		<servlet-class>aap.controller.MedicoEditServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>MedicoEditGet</servlet-name>
		<url-pattern>/medico/editarMedico.do</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>MedicoEditSave</servlet-name>
		<servlet-class>aap.controller.MedicoEditSaveServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>MedicoEditSave</servlet-name>
		<url-pattern>/medico/atualizarMedico.do</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>MedicoRemove</servlet-name>
		<servlet-class>aap.controller.MedicoRemove</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>MedicoRemove</servlet-name>
		<url-pattern>/medico/removerMedico.do</url-pattern>
	</servlet-mapping>
	<servlet>
		<description></description>
		<display-name>RemoverHistoricoServlet</display-name>
		<servlet-name>RemoverHistoricoServlet</servlet-name>
		<servlet-class>aap.controller.HistoricoRemoverServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>RemoverHistoricoServlet</servlet-name>
		<url-pattern>/RemoverHistorico.do</url-pattern>
	</servlet-mapping>
	<servlet>
		<description></description>
		<display-name>HistoricoCadastrarServlet</display-name>
		<servlet-name>HistoricoCadastrarServlet</servlet-name>
		<servlet-class>aap.controller.HistoricoCadastrarServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>HistoricoCadastrarServlet</servlet-name>
		<url-pattern>/CadastrarHistorico.do</url-pattern>
	</servlet-mapping>
	<servlet>
		<description></description>
		<display-name>HistoricoEnviarPost</display-name>
		<servlet-name>HistoricoEnviarPost</servlet-name>
		<servlet-class>aap.controller.HistoricoEnviarPost</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>HistoricoEnviarPost</servlet-name>
		<url-pattern>/EnviarHistorico.do</url-pattern>
	</servlet-mapping>
</web-app>